<ul class="checklist dropdownwrapper list-ingredients-1" ng-hide="reloaded" id="lst_ingredients_1">
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="3 tablespoons olive oil, divided">
                                <input data-id="6307" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,6307)" />
                            <span class="recipe-ingred_txt added" data-id="6307" data-nameid="6307" itemprop="recipeIngredient">3 tablespoons olive oil, divided</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="2 pounds cubed beef stew meat">
                                <input data-id="3868" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,3868)" />
                            <span class="recipe-ingred_txt added" data-id="3868" data-nameid="3868" itemprop="recipeIngredient">2 pounds cubed beef stew meat</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 large onion, roughly chopped">
                                <input data-id="4397" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,4397)" />
                            <span class="recipe-ingred_txt added" data-id="4397" data-nameid="4397" itemprop="recipeIngredient">1 large onion, roughly chopped</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="2 cloves garlic, crushed">
                                <input data-id="4342" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,4342)" />
                            <span class="recipe-ingred_txt added" data-id="4342" data-nameid="4342" itemprop="recipeIngredient">2 cloves garlic, crushed</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 (14.5 ounce) can diced tomatoes">
                                <input data-id="10498" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,10498)" />
                            <span class="recipe-ingred_txt added" data-id="10498" data-nameid="10498" itemprop="recipeIngredient">1 (14.5 ounce) can diced tomatoes</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 teaspoon ground nutmeg">
                                <input data-id="16401" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,16401)" />
                            <span class="recipe-ingred_txt added" data-id="16401" data-nameid="16401" itemprop="recipeIngredient">1 teaspoon ground nutmeg</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 cinnamon stick">
                                <input data-id="20303" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,20303)" />
                            <span class="recipe-ingred_txt added" data-id="20303" data-nameid="20303" itemprop="recipeIngredient">1 cinnamon stick</span>
                        </label>
                    </li>
                            </ul>
            <ul class="checklist dropdownwrapper list-ingredients-2" ng-hide="reloaded" id="lst_ingredients_2">
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="2 bay leaves">
                                <input data-id="16380" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,16380)" />
                            <span class="recipe-ingred_txt added" data-id="16380" data-nameid="16380" itemprop="recipeIngredient">2 bay leaves</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 sprig fresh rosemary">
                                <input data-id="16429" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,16429)" />
                            <span class="recipe-ingred_txt added" data-id="16429" data-nameid="16429" itemprop="recipeIngredient">1 sprig fresh rosemary</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="salt and freshly ground black pepper to taste">
                                <input data-id="16421" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,16421)" />
                            <span class="recipe-ingred_txt added" data-id="16421" data-nameid="16421" itemprop="recipeIngredient">salt and freshly ground black pepper to taste</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 cup red wine">
                                <input data-id="3472" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,3472)" />
                            <span class="recipe-ingred_txt added" data-id="3472" data-nameid="3472" itemprop="recipeIngredient">1 cup red wine</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="2 tablespoons vinegar">
                                <input data-id="7842" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,7842)" />
                            <span class="recipe-ingred_txt added" data-id="7842" data-nameid="7842" itemprop="recipeIngredient">2 tablespoons vinegar</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="2 tablespoons ketchup, or more to taste">
                                <input data-id="3686" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,3686)" />
                            <span class="recipe-ingred_txt added" data-id="3686" data-nameid="3686" itemprop="recipeIngredient">2 tablespoons ketchup, or more to taste</span>
                        </label>
                    </li>
                    <li class="checkList__line">
                        <label ng-class="{true: 'checkList__item'}[true]" title="1 pound baby shallots, peeled">
                                <input data-id="4663" name="ingredientCheckbox" data-role="none" type="checkbox" value="N" ng-click="saveIngredient($event,4663)" />
                            <span class="recipe-ingred_txt added" data-id="4663" data-nameid="4663" itemprop="recipeIngredient">1 pound baby shallots, peeled</span>
                        </label>
                    </li>
                                    <li class="checkList__line">
                        <label class="checkList__item" id="btn-addtolist">
                            <input name="slCheckbox" data-role="none" type="checkbox" ng-click="saveRecipe($event,'268640','Recipe')" />
                            <span class="recipe-ingred_txt added white">Add all ingredients to list</span>
                        </label>
                    </li>
            </ul>
        <ul ng-cloak ng-repeat="column in ingredientColumns" class="checklist {{ 'list-ingredients-' + column.index }}" id="{{ 'lst_ingredients_' + column.index }}" data-repeat-complete="ingredientsLoaded()">
            <li ng-repeat="ingredient in ingredients | ar_filters_slice:column.start:column.end" class="checkList__line">
                <label ng-class="{true: 'checkList__item'}[ingredient.displayType != 'Heading']">
                    <input data-id="{{ingredient.ingredientID}}" name="ingredientCheckbox" type="checkbox" value="N" ng-model="ingredient.isChecked" ng-click="saveIngredient($event,ingredient)" />
                    <span class="recipe-ingred_txt" data-id="{{ingredient.ingredientID}}" data-nameid="{{ingredient.ingredientid}}" ng-bind="ingredient.displayValue"></span>
                </label>
            </li>
            <li ng-show="column.index == 2" class="checkList__line">
                <label class="checkList__item" id="btn-addtolist">
                    <input name="slCheckbox" data-role="none" type="checkbox" ng-click="saveRecipe($event,'268640','Recipe')" />
                    <span class="recipe-ingred_txt added white">Add all ingredients to list</span>
                </label>
            </li>
        </ul>
